.card {
    width: 84px;
    height: 114px;
    border: solid #e4861b 6px;
    border-radius: 10px;
    background-color: #535353;
    background-position: center;
    background-repeat: no-repeat;
}

.card.face-up {
    background-image: url(./resources/smiles.png);
}

.tableau {
    display: inline-block;
    margin: 16px;
    vertical-align: middle;
}

.tableau > .card {
    display: inline-block;
    margin-right: 14px;
}

.app .clicks {
    font-size: 5em;
    margin: 16px;
    vertical-align: middle;
}
